.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:fit-content;
    height: fit-content;
}
.notice-section{
    display: flex;
    flex-direction:column;
    align-items:center;
}