.course-page {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.course-category {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.course-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 10px;
    gap: 10px;
}
.course{
    width: 280px;
    border: 2px solid white;
    border-radius: 12px;
    padding: 30px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}
.course:hover {
    border-color: #0056b3;
}
.course:active {
    transform: scale(0.98);
}
.course-img-wrap {
    width: 100%;
    aspect-ratio: 720 / 480;
    background-color:gray;
    overflow: hidden;
    border-radius: 12px;
    position: relative; 
}
.course-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 비율 유지하며 꽉 채우기 */
    display: block;
}
.course-badge{
    position: absolute;
    top: 8px;
    left: 8px;
    width: fit-content;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px 8px;
    font-size: 12px;
}

.info {
    margin-top: 20px;
}
.info p{
    font-size: 14px;
}

.type-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 30px 15px 30px 15px;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}
.type:hover {
    border-color: #0056b3;
    background-color: #bebebe;
}
.type:active {
    transform: scale(0.98);
}

.btn-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 80px;
}