.input-section {
    display: flex;
    align-items: stretch; 
    padding: 4px 0 4px 0;
}
.input{

}
.name-input{
    width: 100%;
    padding: 10px 14px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.group-section {}

.group-info {}

.counter {}

.btn2-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 80px;
}